{% extends "base_ui/base_ui.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
    /* Style tab links */
        .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
        }

        .tablink:hover {
        background-color: #777;
        }

        /* Style the tab content (and add height:100% for full page content) */
        .tabcontent {
        color: gray;
        display: none;
        padding: 100px 20px;
        height: 100%;
        }

        #Home {background-color: black;}
        #News {background-color: black;}
        #Contact {background-color: black;}
        #About {background-color: black;}
</style>
	<!-- Profile  -->
     <div class="content-section">
     	<div class="media" style="background-color: black;">
     		<img class="rounded-circle account-img" style="
     		object-fit: cover;
            border-radius: 50%;
            height: 80px;
            width: 80px;
            margin-top: 0.5em;
            margin-bottom: 0.5em;
            margin-right: 0.5em;
            margin-left: 0.5em;" src="{{ user.profile.profile_pc.url }}">
     		<div class="media-body">
     			<h4 class="account-heading" style="margin-top: 0.5em; color: gray;">{{ user.username }}</h4>
     			<span style="margin-left: 3em;"><span>Email : </span>{{ user.email }}</span>
                <span style="margin-left: 3em;"><span>Followers :</span> {{ total_followers }}20k</span>
                <span style="margin-left: 3em;"><span>Following :</span> {{ total_followers }}10k</span>
                <span style="margin-left: 3em;"><span>Posts :</span> {{ total_followers }}10k</span>
                <button class="btn btn-outline-success" type="submit" style="margin-left: 15em;margin-bottom: 2em;margin-top: none; border-radius: 43px; ">Verify</button>
             
     		</div>
     	</div>
           

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" style="border-radius: 43px;">Update</button>
        </div>  
        </form>
     </div>
          <!-- Profile Ends -->
{% endblock %}