@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background-color: black;
}

/* header */

.material-icons {
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
  background-color: black;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  width: 200px;
  height: 40px;
  margin-left: 5px;
}

/* .header i {
  padding: 0 7px;
  cursor: pointer;
} */

.header__search form {
  color: #323232;
  border: 1px solid #323232;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
  border-radius: 20;
}

.header__search input {
  color: #323232;
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 100%;
  border-radius: 20;
}

.header__search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 0;
}

/* Sidebar */
.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color:black;
  overflow-y: scroll;
}

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
}

.sidebar__category:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}
.logout_btn{
  display: flex;
  align-items: center;
  margin-top: 7px;
  padding: 12px 25px;
}

/* hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
} */

/* videos */

.videos {
  background-color:black;
  width: 100%;
  height: 100%;
  padding: 15px 25px;
  border-top: 1px solid #ddd;
  overflow-y: scroll;
}

.videos__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: rgb(3, 3, 3);
}


@media (max-width: 425px) {
  .header__search {
    display: none;
  }

  .header__icons .material-icons {
    display: none;
  }

  .header__icons .display-this {
    display: inline;
  }

  .sidebar {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__search {
    display: none;
  }

  .sidebar {
    display: none;
  }

  .show-sidebar {
    display: inline;
    position: fixed;
    top: 4.4rem;
    height: auto;
  }
}

@media (max-width: 941px) {
  .header__search input {
    width: 300px;
  }
}